# routing every thing trough Core.php and making avery thing after domaine name stored in url GET super variable.


<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /cabinet_dentaire_brief-6/Back/Config/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ Core.php?url=$1 [QSA,L]
</IfModule>